@font-face {
  font-family: lato;
  src: url("public/Lato-Regular.ttf");
}
@font-face {
  font-family: lato-light;
  src: url("public/Lato-Light.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("public/Lato-Bold.ttf");
}

:root {
  --palette-accent: #1be3be;
}

/* General Page Styling */
body {
  font-family: lato, "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;
  line-height: 1.6;
  font-size: 1rem;
  background: linear-gradient(135deg, #97f4e3, #74ebd5, #acb6e5);
}

/* Header */

header {
  color: #fff;
  text-align: center;
  padding: 3rem 0; /* Larger padding for prominence */
}

header h1 {
  font-size: 3.5rem; /* Larger font size for the title */
  margin: 0;
  letter-spacing: 1px;
  font-weight: 700;
}

/* Main Content */
main {
  width: 100%;
  padding: 3rem 8%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for content */
  border-radius: 12px;
}

/* Sections */
section {
  margin-bottom: 2.5rem;
}

/* Section Headings */
section h2 {
  color: var(--palette-accent);
  font-size: 2.2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--palette-accent);
  padding-bottom: 0.5rem;
  font-weight: 600;
}

section h3 {
  color: #333;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

section p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 1.5rem;
}

ul li {
  position: relative;
  margin-bottom: 0.8rem;
  padding-left: 0.6rem;
  font-size: 1rem;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 20px; /* Set width and height for the SVG */
  height: 20px;
  background: url("../public/arcaan.svg") no-repeat center center;
  background-size: contain; /* Make sure the SVG scales correctly */
  margin-left: -20px; /* Adjust the space between the bullet and the text */
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 4px;
}

strong {
  color: var(--palette-accent);
}

.specialty {
  opacity: 0.75;
  font-size: 1rem;
}

/* Horizontal Rules */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

/* Links */
a {
  color: var(--palette-accent);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: #3aa877; /* Slightly darker shade for hover */
}

/* Contact Section */
section:last-of-type p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

section:last-of-type a {
  font-weight: bold;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  section h2 {
    font-size: 1.8rem;
  }

  section h3 {
    font-size: 1.4rem;
  }

  main {
    padding: 2rem 5%;
  }
}
